.c-btn {
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  margin: 0.1rem;
}

.c-btn--control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5.5rem;
}
