.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  list-style-image: none;
  margin: 0 -1rem;
  padding: 0;
}

.country-list__item {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.country-list__item--last {
  margin-right: auto;
}
