.c-country-details {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.c-controls {
  text-align: left;
}

.c-country-details__content {
  display: flex;
  flex-flow: row nowrap;
}

.c-country-details__flag {
  flex-grow: 0;
  width: 50%;
}

.c-country-details__flag-img {
  width: 100%;
  height: 100%;
}

.c-country-details__text-info {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}
