.h-bold {
  font-weight: bold;
}

.c-country-details {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.c-controls {
  text-align: left;
  margin: 2rem 0;
}

.c-country-details__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.c-country-details__flag {
  flex-shrink: 0;
  width: 48%;
  min-width: 20rem;
  margin: 0;
}

.c-country-details__flag-img {
  display: block;
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.c-country-details__header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.c-country-details__text-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 1rem 0.5rem;
  width: 48%;
  min-width: 20rem;
}

.l-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.c-details-list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 50%;
  min-width: 14rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.c-details-list__item {
  margin: 0.5rem;
  margin-left: 0;
  /* max-width: 15rem; */
  text-align: left;
}

.c-country-borders {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.c-country-borders__header {
  font-weight: bold;
}

.c-country-borders__list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
