.card {
  position: relative;
  padding-bottom: 1rem;
  width: 15rem;
  height: 100%;
  box-shadow: 2px 2px 10px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
}

.card__info {
  margin: 0.8rem 0.8rem 0.4rem 0.8rem;
}

.card__title {
  font-weight: 600;
  padding: 0;
  margin-bottom: .4rem;
}

.card__flag {
  width: 15rem;
  height: 10rem;
  overflow: hidden;
}
